@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    perspective: 1000;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

/* p img {
  max-width: 500px;
} */

@media only screen and (max-width: 600px) {
  p img {
    max-width: 100%;
  }
}

/* ul li {
  list-style-type: disc;
} */

p {
  font-size: 20px;
  font-weight: 200;
}
.layout h1, .layout h2, .layout h3 {
  font-weight: 600 !important;
}

.layout h2 {
  font-size: 35px !important;
}

.layout h3 { 
  font-size: 25px !important;
}

.subtitle {
  font-size: 20px;
}

.card h3,
.card h2 {
  font-size: 25px;
}

.paper-callout h3,
.paper-callout h2 {
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.social-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px 5px 10px ;
  flex-direction: row;
  border-radius: 15px;
  border: 1px solid black;
}

.photo-card,
.conf-card {
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  display: flex;
  transition: color 0.15s ease, border-color 0.15s ease, transform 0.2s ease;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.notebook-card {
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between; 
}

.card {
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.paper-callout {
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #cfbbf0;
}

.card:hover,
.notebook-card:hover,
.conf-card:hover {
  /*box-shadow: -7px 7px;*/
  transform: translateX(7px) translateY(-7px);
  transform-style: preserve-3d;
}

.card img {
  border-radius: 10px;
}

.button {
  padding: 3px 15px 3px 15px;
  text-align: left;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
